.about{
  margin-top: 5vh;
}

h1{
    font-family:"Bungee" ;
    font-size: 4rem;
}
.slider {
  position: relative;
  
  height: 80vh;
  max-width: 60vw;
  margin: 50px auto;



}

.slide-img {
  width: 100%;
  height: auto;
  display: block;
  align-self: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  border-radius: 30px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.container{
    padding: 50px;
    background-color: rgb(28, 28, 28);
    justify-items: center;
    
}
p{
    justify-self: center;
    text-align: center;
}

.card{
    margin: 5px;
    padding: 50px;
    background-color: rgb(22, 22, 22);
    align-items: center;
    display: flex;
    overflow: hidden;
}

.c{
    width: 500px;
    height: 300px;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(33, 33, 33);
    margin: 10px;
    transition: all 0.5s ease-in-out;


}
.c img{
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: 10px;
}
.c p{
    justify-self: left;
    margin-left: 5px;
    text-align: left;
    font-size: smaller;
    color: rgb(168, 168, 168);
}
.c:hover{
    transform: translateY(-5%);
}
.mclive h1{
  margin: 0;
}
.mclive p{
  margin: 10px;
}
.mclive video{
  box-shadow: 1px 1px 20px rgb(43, 43, 43);
}